.Title{
  /* How Our App Works */
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
 



}

.Summary{
  height: 90px;
  width: 60%;
  text-align: center;
  margin: auto;

}

.Buttons{
  display: flex;
  justify-content: center;
  position: relative;
}
button{
  margin: 10px;
  text-align: center;
  background-color: #f44336;
  border: none;
  color: #ffffff;
}

.Uidiv{

  background-color: #6D1B3C;
  Width: 1918px;
  height: 308px;
}
.Uidivti{
  color:#ffffff
}
.Uidivsu{
  color:#ffffff;
  font-size: 12px;
  width: 532px;
}

.Muidiv{
  background-color:#3D0D20;
  Width: 1918px;
  height: 308px;
  

}
.Muidivti{
  color:#ffffff;
  

}
.Muidivsu{
  color:#ffffff;
 
  font-size: 12px;
  width: 532px;
  
}
.Fuidiv{
  background-color:#120309;
  Width: 1918px;
  height: 308px;
  

}
.Fuidivti{
  color:#ffffff;
  

}
.Fuidivsu{
  color:#ffffff;
 
  font-size: 12px;
  width: 532px;
  
}